**/bin
**/doc/doxygen
**/Debug
*.aux
*.lof
*.synctex.gz
*.toc
*.log
*.lot
/ChangeLicence.sh
/RemoveTripleBlankCommentLines.py
/doc/cordetfw/cordetfw.out
/doc/pus/PusExtension.out
/doc/req/UserRequirements.out
/doc/um/UserManual.out
*.gcov
/lcov/**
/.vscode/launch.json
/.vscode/settings.json
/cordetfw.geany
/coverage.info
/filtered_coverage.info
/scripts/__pycache__/**
/tmp/**
/doc/cordetfw/cordetfw.pdf
/doc/um/UserManual.pdf
