*.aux
*.lof
*.synctex.gz
**/bin
**/doxygen/html
/doc/pus/PusExtension.log
/doc/pus/PusExtension.lot
/doc/pus/PusExtension.out
/doc/pus/PusExtension.toc
/doc/cordetfw/cordetfw.lof
/doc/cordetfw/cordetfw.log
/doc/cordetfw/cordetfw.lot
/doc/cordetfw/cordetfw.out
/doc/cordetfw/cordetfw.synctex.gz
/doc/cordetfw/cordetfw.toc
/doc/req/UserRequirements.aux
/doc/req/UserRequirements.lof
/doc/req/UserRequirements.log
/doc/req/UserRequirements.lot
/doc/req/UserRequirements.out
/doc/req/UserRequirements.synctex.gz
/doc/req/UserRequirements.toc
/doc/um/UserManual.aux
/doc/um/UserManual.lof
/doc/um/UserManual.log
/doc/um/UserManual.lot
/doc/um/UserManual.out
/doc/um/UserManual.synctex.gz
/doc/um/UserManual.toc
**/doxygen/html
**/bin
